<figure class="image is-1720x480">
  <img src="/images/G.png">
</figure>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-9">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Stories of Global Food Adventure</p>
          <a class="link" href="https://prosciuttobytes.herokuapp.com/blog/b1">
          <button class="button is-warning">Blog</button>
              </a>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">In the Prosciutt of Happiness</p>
          <p class="subtitle">A breif Biography</p>
          <button class="button is-primary">Biography</button>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-12">
          <p class="title">Nothing better than pizza</p>
          <p class="subtitle">YUM</p>
          <figure class="image is-4by3">
            <img src="/images/pizza.png">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-info">
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Welome to My Kitchen</p>
        <img src="/images/pasta.png">
        <img src="/images/ingred.png">
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
