<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
 </style>


  </head>
  <body>
    <figure class="image is-1720x480">
      <img src="/images/G.png">
    </figure>

    <section class="section has-background-grey">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="notification is-success">
              <h1 class="title"> Pizza</h1>
              <p class= "is-size-4">
            Story about pizza
            <img src="/images/pizza.png">
            <a class="link" href="http://localhost:3000/blog/b4">
              <button class="button is-primary">Read</button>

                </a>

                </p>
          </div>
              </div>

            <div class="column">
                <div class="notification is-info">
                  <h1 class="title"> Pasta</h1>
                  <p class= "is-size-4">
              hey here is my second blog post.
              <img src="/images/pasta.png">
              <a class="link" href="http://localhost:3000/blog/b5">
              <button class="button is-primary">Read</button>
              </a>

                  </p>
                </div>
            </div>
              <div class="column">
                <div class="notification is-link">
                  <h1 class="title"> Prosciutto</h1>
                  <p class= "is-size-4">
                hello here is my third blog post
                <img src="/images/ingred.png">
                <a class="link" href="http://localhost:3000/blog/b6">
                <button class="button is-primary">Read</button>
                </a>

                </p>
                </div>
          </div>
        </div>
      </div>
      </section>
  </body>
</html>
