<figure class="image is-1720x480">
  <img src="/images/blog.png">
</figure>

<div class="columns">
  <div class="column is-half">is-half</div>

  <div class="column">Auto</div>

  <div class="column">Auto</div>

</div>
