<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing</title>
    <style>
    .hero {
      background: url(/images/tomatos.jpg) center / cover;
    }
      </style>

  </head>
  <body>
    <section class="hero is-fullheight">

  </section>

  </body>
</html>
