<body>
  <figure class="image is-1720x480">
    <img src="/images/blogs.png">
  </figure>

  <section class="section has-background-light">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="notification is-success">
            <figure class="image is-128x128">
  <img class="is-rounded" src="/images/susan.jpg">
</figure>
            <h1 class="title has-text-centered">Bio: Susan Jardin</h1>
          <p class = "has-text-justified">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
          </section>
          </body>
